
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators - byaviators.com">

    <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="assets/libraries/chosen/chosen.css" type="text/css">
    <link rel="stylesheet" href="assets/libraries/bootstrap-fileupload/bootstrap-fileupload.css" type="text/css">
    <link rel="stylesheet" href="assets/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/realia-blue.css" type="text/css" id="color-variant-default">
         <link href="css/font.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

    <title>Ezywipe - Shop</title>

</head>
<body>
<style>.lists{ overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    }
    .properties-grid .property .image img{
        width:280px;
        height:250px;
    }
</style>
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <ul class="breadcrumb pull-left">
                                <li><a href="index.html">Home</a></li>
                            </ul><!-- /.breadcrumb -->


                        </div><!-- /.span12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.breadcrumb-wrapper -->

            <!-- HEADER -->
            <div id="header-wrapper">
                <div id="header">
                    <div id="header-inner">
                        <div class="container">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="row">
                                        <div class="logo-wrapper span4">

                                            <div class="logo">
                                                <a href="index.html" title="Home">
                                                    <img src="assets/img/logo.png" alt="Home">
                                                </a>
                                            </div><!-- /.logo -->

                                            <div class="site-name">
                                                <a href="/" title="Home" class="brand">Ezywipe</a>
                                            </div><!-- /.site-name -->

                                            <div class="site-slogan">
                                                <span>Just Add Water.</span>
                                            </div><!-- /.site-slogan -->
                                        </div><!-- /.logo-wrapper -->

                                        <div class="info">
                                            <div class="site-email">
                                                <a href="mailto:info@ezywipe.com">info@ezywipe.com</a>
                                            </div><!-- /.site-email -->

                                            <div class="site-phone">
                                                <span>1 866 3998867</span>
                                            </div><!-- /.site-phone -->
                                        </div><!-- /.info -->


                                    </div><!-- /.row -->
                                </div><!-- /.navbar-inner -->
                            </div><!-- /.navbar -->
                        </div><!-- /.container -->
                    </div><!-- /#header-inner -->
                </div><!-- /#header -->
            </div><!-- /#header-wrapper -->



            <!-- CONTENT -->
            <div id="content">
<div class="container">

    <div id="main">
        <div class="row">
            <div class="span9">

                <h1 class="page-header">Listing</h1>
                <div class="properties-grid">
    <div class="row">



	<!-- content -->
        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link1}}></a>
                    <img src={{obj.pic1}} alt="">
                </div><!-- /.content -->

                <div class="price">{{obj.price1}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a  class = "lists" href={{obj.link1}} >{{obj.name1}}</a></h2>
            </div><!-- /.title -->


        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link2}}></a>
                    <img src={{obj.pic2}} alt="">
                </div><!-- /.content -->
                <div class="price">{{obj.price2}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a  class = "lists"  href={{obj.link2}}>{{obj.name2}}</a></h2>
            </div><!-- /.title -->


        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link3}}></a>
                    <img src={{obj.pic3}} alt="">
                </div><!-- /.content -->

                <div class="price">{{obj.price3}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a class = "lists"  href={{obj.link3}}>{{obj.name3}}</a></h2>
            </div><!-- /.title -->



        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link4}}></a>
                    <img src={{obj.pic4}} alt="">
                </div><!-- /.content -->
                <div class="price">{{obj.price4}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a class = "lists"  href={{obj.link4}}>{{obj.name4}}</a></h2>
            </div><!-- /.title -->


        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link5}}></a>
                    <img src={{obj.pic5}} alt="">
                </div><!-- /.content -->

                <div class="price">{{obj.price5}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a class = "lists"  href={{obj.link5}}>{{obj.name5}}</a></h2>
            </div><!-- /.title -->



        </div><!-- /.property -->

        <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link6}}></a>
                    <img src={{obj.pic6}} alt="">
                </div><!-- /.content -->

                <div class="price">{{obj.price6}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a class = "lists"  href={{obj.link6}}>{{obj.name6}}</a></h2>
            </div><!-- /.title -->


        </div><!-- /.property -->
		    <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link7}}></a>
                    <img src={{obj.pic7}} alt="">
                </div><!-- /.content -->

                <div class="price">{{obj.price7}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a class = "lists"  href={{obj.link7}}>{{obj.name7}}</a></h2>
            </div><!-- /.title -->



        </div><!-- /.property -->    <div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link8}}></a>
                    <img src={{obj.pic8}} alt="">
                </div><!-- /.content -->

                <div class="price">{{obj.price8}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a class = "lists"  href={{obj.link8}}>{{obj.name8}}</a></h2>
            </div><!-- /.title -->



        </div><!-- /.property -->
		<div class="property span3">
            <div class="image">
                <div class="content">
                    <a href={{obj.link9}}></a>
                    <img src={{obj.pic9}} alt="">
                </div><!-- /.content -->

                <div class="price">{{obj.price9}}</div><!-- /.price -->
                <div class="reduced">Price </div><!-- /.reduced -->
            </div><!-- /.image -->

            <div class="title">
                <h2><a class = "lists"  href={{obj.link9}}>{{obj.name9}}</a></h2>
            </div><!-- /.title -->
        </div><!-- /.property -->


	<!-- content -->

    </div><!-- /.row -->
</div><!-- /.properties-grid -->
                <div class="pagination pagination-centered">
    <ul>
        <li><a href="?pageindex=1">1</a></li>
        <li><a href="?pageindex=10">2</a></li>
        <li><a href="?pageindex=20">3</a></li>
        <li><a href="?pageindex=30">4</a></li>

    </ul>
</div><!-- /.pagination -->            </div>
            <div class="sidebar span3">
                <div class="widget our-agents">
    <div class="title">
        <h2>Our Agents</h2>
    </div><!-- /.title -->

    <div class="content">
        <div class="agent">
            <div class="image">
                <img src="assets/img/photos/emma-small.png" alt="">
            </div><!-- /.image -->
            <div class="name">Victoria Summer</div><!-- /.name -->
            <div class="phone">333-666-777</div><!-- /.phone -->
            <div class="email"><a href="mailto:victoria@example.com">victoria@example.com</a></div><!-- /.email -->
        </div><!-- /.agent -->

        <div class="agent">
            <div class="image">
                <img src="assets/img/photos/john-small.png" alt="">
            </div><!-- /.image -->
            <div class="name">John Doe</div><!-- /.name -->
            <div class="phone">111-222-333</div><!-- /.phone -->
            <div class="email"><a href="mailto:john.doe@example.com">victoria@example.com</a></div><!-- /.email -->
        </div><!-- /.agent -->
    </div><!-- /.content -->

            </div>
        </div>
    </div>
</div>

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->





<script type="text/javascript" src="assets/js/jquery.ezmark.js"></script>
<script type="text/javascript" src="assets/js/jquery.currency.js"></script>
<script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="assets/js/retina.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/carousel.js"></script>
<script type="text/javascript" src="assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="assets/js/gmap3.infobox.min.js"></script>
<script type="text/javascript" src="assets/libraries/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="assets/libraries/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="assets/libraries/iosslider/_src/jquery.iosslider.min.js"></script>
<script type="text/javascript" src="assets/libraries/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="assets/js/realia.js"></script>

</body>
</html>